In [1]:
import pandas as pd
import numpy as np

#Upload File
df = pd.read_csv("largerEqDataset.csv", sep=",")

df

,Year,Month,Day,Time,Lat,Lon,Depth,Mag,Region,Timestamp
0,2022,12,3,22:35:18,38.7748,-122.7645,0.2,0.4,"1km WSW of The Geysers, CA",1670106918
1,2022,12,3,22:27:51,34.5200,-118.9598,10.7,1.8,"14km NNW of Fillmore, CA",1670106471
2,2022,12,3,22:14:00,62.9029,-150.9087,89.0,1.1,"45 km N of Petersville, Alaska",1670105640
3,2022,12,3,22:05:38,33.8388,-116.7710,16.2,1.5,"9km S of Cabazon, CA",1670105138
4,2022,12,3,21:58:08,65.1832,-145.3003,6.0,1.6,"49 km SSW of Central, Alaska",1670104688
...,...,...,...,...,...,...,...,...,...,...
4995,2022,11,17,14:03:42,59.9210,-153.1838,111.2,1.9,"53 km ENE of Pedro Bay, Alaska",1668693822
4996,2022,11,17,14:03:20,33.2170,-116.7482,11.2,0.7,"3km SSE of Lake Henshaw, CA",1668693800
4997,2022,11,17,13:59:32,26.9701,55.2311,10.0,5.2,"57 km NE of Bandar-e Lengeh, Iran",1668693572
4998,2022,11,17,13:54:46,36.5818,-121.1080,10.8,1.0,"6km NNE of Pinnacles, CA",1668693286
4999,2022,11,17,13:53:00,17.9603,-66.9652,11.7,2.1,"6 km WSW of Fuig, Puerto Rico",1668693180

In [2]:
#Add zero infront of single digit days and months
df['Day'] = (df['Day'].astype(str)).apply(lambda x: x.zfill(2))
df['Month'] = (df['Month'].astype(str)).apply(lambda x: x.zfill(2))

#Combine Year, Month, Day into Date column
#Date Format: YYYY-MM-DD
df['Date'] = df['Year'].astype(str) + '-' + df['Month'].astype(str) + '-' + df['Day'].astype(str)
df.insert(0,'Date', df.pop('Date'))

#Drop columns
df = df.drop(['Year', 'Month','Day','Timestamp'], axis = 1)
df

,Date,Time,Lat,Lon,Depth,Mag,Region
0,2022-12-03,22:35:18,38.7748,-122.7645,0.2,0.4,"1km WSW of The Geysers, CA"
1,2022-12-03,22:27:51,34.5200,-118.9598,10.7,1.8,"14km NNW of Fillmore, CA"
2,2022-12-03,22:14:00,62.9029,-150.9087,89.0,1.1,"45 km N of Petersville, Alaska"
3,2022-12-03,22:05:38,33.8388,-116.7710,16.2,1.5,"9km S of Cabazon, CA"
4,2022-12-03,21:58:08,65.1832,-145.3003,6.0,1.6,"49 km SSW of Central, Alaska"
...,...,...,...,...,...,...,...
4995,2022-11-17,14:03:42,59.9210,-153.1838,111.2,1.9,"53 km ENE of Pedro Bay, Alaska"
4996,2022-11-17,14:03:20,33.2170,-116.7482,11.2,0.7,"3km SSE of Lake Henshaw, CA"
4997,2022-11-17,13:59:32,26.9701,55.2311,10.0,5.2,"57 km NE of Bandar-e Lengeh, Iran"
4998,2022-11-17,13:54:46,36.5818,-121.1080,10.8,1.0,"6km NNE of Pinnacles, CA"
4999,2022-11-17,13:53:00,17.9603,-66.9652,11.7,2.1,"6 km WSW of Fuig, Puerto Rico"

In [3]:
df.to_csv('cleanLargerEqDataset', index = False)